@import "header.css";
@import "footer.css";

body {
    background-color: #F5F6FF;
}

.producto-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 2rem;
    gap: 2rem;
}

.producto {
    padding: 1rem;
    background-color: #E2E5FF;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;

    text-align: center;
}

.producto:hover {
    border: 1.5px solid #7B7CFF;
}

.producto img {
    display: block;
    width: 100%;
    height: auto;

    margin: 0 auto;
    margin-bottom: 1rem;

    max-width: 250px;
}

.producto a {
    display: block;
    width: 100%;
}

.nombre-producto {
    display: block;
    max-width: 250px;
    margin: 0 auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.producto p {
    color: #1E2038;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.producto button {
    color: #FFFFFF;
    background-color: #4F46E5;
    padding: 3px 10px;
    border-radius: 1.5px;

    border: none;
    cursor: pointer;
}

.producto button:hover {
    background-color: #2E2A88;
    color: #FFFFFF;
}

.titulo-productos {
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;

    color: #1E2038;
    font-size: 2rem;
}

/*DETALLE-PRODUCTOS.HTML */
.ruta {
    display: flex;
    flex-direction: row;

    margin-top: 2rem;
    margin-left: 2rem;
    gap: 1rem;
}

.ruta ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}

.ruta li {
    color: #1E2038;
    list-style: none;
}

.ruta a {
    color: #1E2038;
    text-decoration: none;
}

.detalle-main-container {
    display: flex;
    flex-direction: row;

    margin-top: 2rem;
    margin-left: 2rem;
    gap: 5rem;
}

.detalle-main-container button{
    border: none;
    color: black;
    background-color: #4F46E5;

    cursor: pointer;
}

.detalle-container {
    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.parrafo-producto {
    width: 100%;
    max-width: 450px;

    color: white;
}

.cantidad-producto {
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

.cantidad-producto h3 {
    color: white;
}

.cantidad-producto select {
    padding: 3px 10px;
    border: none;
    cursor: pointer;
}

.nombre-precio {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    color: white;
}

.foto-detalle-producto-container {
    width: 100%;
    max-width: 500px;
    
    padding: 1rem;
    background-color: #E2E5FF;
    border: 2px solid #FFFFFF;
}

.foto-principal {
    display: block;

    width: 100%;
    height: auto;

    border: 2px solid black;
}

.detalle-mini-foto-container {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    margin-top: 1rem;
}

.detalle-mini-foto-container img {
    display: block;

    width: 80px;
    height: 80px;

    object-fit: cover;
    border: 2px solid black;

    cursor: pointer;
}

.detalle-mini-foto-container img:hover {
    border: 2px solid orange;
}

/* login.html */

.main-login {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 80vh;
    padding: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 400px;

    background-color: #E2E5FF;
    border: 1.5px solid #7B7CFF;
    padding: 3rem 2rem;
    border-radius: 8px;
}

.form-container h4 {
    text-align: left;
    color: #1E2038;
}

.form-container input {
    border: 1px solid #FFFFFF;
}

.form-container input:hover {
    border: 1px solid #7B7CFF;
}

.form-container button {
    color: #FFFFFF;
    background-color: #4F46E5;
    padding: 3px 10px;
    border-radius: 1.5px;

    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #2E2A88;
    color: #FFFFFF;
}

.select-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.select-container select {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.select-container select:hover {
    border: 1px solid #7B7CFF;
}